/* Responsive Navbar  */
body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  .topnav {
    overflow: hidden;
    background-color: #333;
  }
  
  .topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }
  
  .topnav a.active {
    background-color: #04AA6D;
    color: white;
  }
  
  .topnav .icon {
    display: none;
  }
  
  @media screen and (max-width: 600px) {
    .topnav a:not(:first-child) {display: none;}
    .topnav a.icon {
      float: right;
      display: block;
    }
  }
  
  @media screen and (max-width: 600px) {
    .topnav.responsive {position: relative;}
    .topnav.responsive .icon {
      position: absolute;
      right: 0;
      top: 0;
    }
    .topnav.responsive a {
      float: none;
      display: block;
      text-align: left;
    }
  }


  /* sidebar code */
  body {
    font-family: "Lato", sans-serif;
  }
  
  .sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
  }
  
  .sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 18px;
    color: #818181;
    display: block;
    transition: 0.3s;
  }
  
  .sidenav a:hover {
    color: #f1f1f1;
  }
  
  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
  
  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }

  /* silders code */
  * {box-sizing: border-box}
body {font-family: Verdana, sans-serif; margin:0}
.mySlides {display: none}
img {vertical-align: middle;}

/* Slideshow container */
.slideshow-container {
  max-width: 97%;
  border-radius: 16px;
  border-style: solid;
  border-color: #bbb;
  border-width: 0px;
  position: relative;
  margin: auto;
  box-shadow: 3px 0px 30px 5px #888888;
}

  .slideshow-container img{
    border-radius: 10px;    
 
  }
  

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 450px) {
  .prev, .next,.text {font-size: 11px;
    padding: 10px;
  }
  .numbertext {
    color :black;
  }
}

/* parallax code  */
body {
  margin: 0;
}

main {
  height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;
  perspective: 2px;
}

section {
  transform-style: preserve-3d;
  position: relative;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}

.no-parallax {
  background-color: #111;
  z-index: 999;
}

section h1 {
  text-align: center;
  font-size: 4rem;
  font-family: sans-serif;
}

.parallax h1 {
  width: 60%;
  font-size: 2rem;
}

.parallax::after {
  content: " ";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  transform: translateZ(-1px) scale(1.5);
  background-size: 100%;
  z-index: -1;
  height: auto;
}

.bg::after {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("https://images.unsplash.com/photo-1542553458-79a13aebfda6?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxleHBsb3JlLWZlZWR8M3x8fGVufDB8fHx8&w=1000&q=80");
  background-size: cover;
}

@media screen and (min-width: 768px) {
  section h1 {
    font-size: 8rem;
  }
  .parallax h1 {
    font-size: 4rem;
  }
}

/* custom code  */
.service {
  margin-top: 20px;
  text-align: center;
  font-size: 30px;
  height: 80px;
}
.service {
  margin-top: 30px;
  text-align: center;
  font-size: 40px;
  height: 80px;
}
.service1 {
  text-align: center;
  font-size: 30px;
  height: 80px;
}
@media only screen and (max-width: 450px) {
  .service{
    font-size: 16px;
  }
  .service1{
    font-size: 16px;
  }
}


/* team section  */
*{
  font-family:Nunito, sans-serif;
}
.responsive-cell-block{
  min-height:75px;
}
.text-blk{
  margin-top:0px;
  margin-right:0px;
  margin-bottom:0px;
  margin-left:0px;
  line-height:25px;
}
.responsive-container-block{
  min-height:75px;
  height:fit-content;
  width:100%;
  display:flex;
  flex-wrap:wrap;
  margin-top:0px;
  margin-right:auto;
  margin-bottom:0px;
  margin-left:auto;
  justify-content:space-evenly;
}
.team-head-text{
  font-size:48px;
  font-weight:900;
  text-align:center;
}
.text-blk.team-head-text{
  line-height:50px;
  width:100%;
  margin-top:0px;
  margin-right:0px;
  margin-bottom:50px;
  margin-left:0px;
}
.responsive-container-block.container{
  max-width:1380px;
  margin-top:60px;
  margin-right:auto;
  margin-bottom:60px;
  margin-left:auto;
  padding-top:0px;
  padding-right:30px;
  padding-bottom:0px;
  padding-left:30px;
  max-height: 100%;
}
.card{
  text-align:center;
  background-color: white;
  border-radius: 10px;
  box-shadow:rgba(0, 0, 0, 0.05) 0px 4px 20px 7px;
  display:flex;
  flex-direction:column;
  align-items:center;
  padding-top:30px;
  padding-right:25px;
  padding-bottom:30px;
  padding-left:25px;
  color: #111 !important;
}
.responsive-cell-block.wk-desk-3.wk-ipadp-3.wk-tab-6.wk-mobile-12{
  width:280px;
  margin-top:0px;
  margin-right:10px;
  margin-bottom:25px;
  margin-left:10px;
}
.text-blk.name{
  margin-top:20px;
  margin-right:0px;
  margin-bottom:5px;
  margin-left:0px;
  font-size:18px;
  font-weight:800;
}
.text-blk.position{
  margin-top:0px;
  margin-right:0px;
  margin-bottom:10px;
  margin-left:0px;
}
.text-blk.featureText{
  margin-top:0px;
  margin-right:0px;
  margin-bottom:20px;
  margin-left:0px;
  color:rgb(122, 122, 122);
  line-height:30px;
}
.socialIcons{
  width:70px;
  display:flex;
  justify-content:space-between;
}
.team-image-wrapper{
  clip-path:circle(50% at 50% 50%);
  width:130px;
  height:130px;
}
#iup4g{
  max-width:100%;
}
#im3el{
  max-width:100%;
}
#izjpu{
  max-width:100%;
}
#i6kuq{
  max-width:100%;
}
#iakcc{
  max-width:100%;
}
#ii79g{
  max-width:100%;
}
#ivcne{
  max-width:100%;
}
#io38l{
  max-width:100%;
}
@media (max-width: 500px){
  .responsive-cell-block.wk-desk-3.wk-ipadp-3.wk-tab-6.wk-mobile-12{
    width:100%;
    margin-top:0px;
    margin-right:0px;
    margin-bottom:25px;
    margin-left:0px;
    height: 100%;
  }
} 
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600;700;800&display=swap');
  
*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  margin: 0;
}

.wk-desk-1{
  width: 8.333333%;
}
.wk-desk-2{
  width: 16.666667%;
}
.wk-desk-3{
  width: 25%;
}
.wk-desk-4{
  width: 33.333333%;
}
.wk-desk-5{
  width: 41.666667%;
}
.wk-desk-6{
  width: 50%;
}
.wk-desk-7{
  width: 58.333333%;
}
.wk-desk-8{
  width: 66.666667%;
}
.wk-desk-9{
  width: 75%;
}
.wk-desk-10{
  width: 83.333333%;
}
.wk-desk-11{
  width: 91.666667%;
}
.wk-desk-12{
  width: 100%;
}

@media (max-width: 1024px) {
  .wk-ipadp-1{
    width: 8.333333%;
  }
  .wk-ipadp-2{
    width: 16.666667%;
  }
  .wk-ipadp-3{
    width: 25%;
  }
  .wk-ipadp-4{
    width: 33.333333%;
  }
  .wk-ipadp-5{
    width: 41.666667%;
  }
  .wk-ipadp-6{
    width: 50%;
  }
  .wk-ipadp-7{
    width: 58.333333%;
  }
  .wk-ipadp-8{
    width: 66.666667%;
  }
  .wk-ipadp-9{
    width: 75%;
  }
  .wk-ipadp-10{
    width: 83.333333%;
  }
  .wk-ipadp-11{
    width: 91.666667%;
  }
  .wk-ipadp-12{
    width: 100%;
  }
}

@media (max-width: 768px) {
  .wk-tab-1{
    width: 8.333333%;
  }
  .wk-tab-2{
    width: 16.666667%;
  }
  .wk-tab-3{
    width: 25%;
  }
  .wk-tab-4{
    width: 33.333333%;
  }
  .wk-tab-5{
    width: 41.666667%;
  }
  .wk-tab-6{
    width: 50%;
  }
  .wk-tab-7{
    width: 58.333333%;
  }
  .wk-tab-8{
    width: 66.666667%;
  }
  .wk-tab-9{
    width: 75%;
  }
  .wk-tab-10{
    width: 83.333333%;
  }
  .wk-tab-11{
    width: 91.666667%;
  }
  .wk-tab-12{
    width: 100%;
  }
}

@media (max-width: 500px) {
  .wk-mobile-1{
    width: 8.333333%;
  }
  .wk-mobile-2{
    width: 16.666667%;
  }
  .wk-mobile-3{
    width: 25%;
  }
  .wk-mobile-4{
    width: 33.333333%;
  }
  .wk-mobile-5{
    width: 41.666667%;
  }
  .wk-mobile-6{
    width: 50%;
  }
  .wk-mobile-7{
    width: 58.333333%;
  }
  .wk-mobile-8{
    width: 66.666667%;
  }
  .wk-mobile-9{
    width: 75%;
  }
  .wk-mobile-10{
    width: 83.333333%;
  }
  .wk-mobile-11{
    width: 91.666667%;
  }
  .wk-mobile-12{
    width: 100%;
  }
}


/* map contact us  */
*{
  margin:0;
  padding:0;
  box-sizing:border-box;
}
.map-deck{
  width:50%;
}
.map{
  width:100%;
  height:100%;  
}
.company-map{
  width:100%;
  height:100%;
  border:0;
  border-bottom-left-radius: 10px;
  border-top-left-radius: 10px;
}

.form-deck{
  width:100%;
  height:100%;
}
.form-row{
  display:flex;
  flex-wrap:wrap;
  padding:10px
}

.form-container{
  padding:15px;
  width:50%;
  display:flex;
  flex-wrap:wrap;
  color: #111;
  background-color: #FFff;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
 
}

form{
  padding:0px;
  display:block;
  margin-left:auto;
  margin-right:auto;
  position:relative;
}
.form-container .form-header{
  margin-top:20px;
  margin-bottom:20px;
  font-size:20px;
  text-align:center;
}

.form-container .single-form{
  position:relative;
  margin-bottom:25px;
  
}
.form-container .single-form input,
.form-container .single-form textarea{
  width:100%;
  padding:10px;
  outline:none;
  border:0.11px solid grey;
  border-radius: 4px;
} 


.form-container .single-form input:focus + label,
.form-container .single-form input:valid + label,
.form-container .single-form textarea:focus + label,
.form-container .single-form textarea:valid + label{
  color:#00b2b0;
  font-size: .9rem;
  font-weight:bold;
  top:-10px;
}

.form-container .single-form input:focus + label:after,
.form-container .single-form input:valid + label:after,
.form-container .single-form textarea:focus + label:after,
.form-container .single-form textarea:valid + label:after{
  content:':';
}
.form-container .single-form textarea{
  height:120px;

}

.form-container label{
  position:absolute;
  top:12px;
  left:10px;
  color:#777;
  fontsize: .9rem;
  background:#fff;
  transition: ease-in-out .2s;
}

button[id="submit"] {
  background-color: #04aa6d;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin:20px 0 auto;
}
button:hover[id="submit"] {
  background-color: #45a049;
  
}
@media screen and (max-width:690px){
  .map-deck{
  width:100%;
}
  .form-container{
  width:100%;
  display:flex;
  flex-wrap:wrap;

 
}
}